# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
vault.yml
**/group_vars/**/*
**/host_vars/**/*
secrets.yml
*.key
*.pem

# General
.DS_Store
*.log
