apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-cp2
  namespace: cp2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-cp2
  template:
    metadata:
      labels:
        app: web-cp2
    spec:
      volumes:
        - name: web-content
          persistentVolumeClaim:
            claimName: web-cp2-pvc

      initContainers:
        - name: init-web-content
          image: acrcp2af2026.azurecr.io/web-cp2:1.0
          command: ["/bin/sh","-c"]
          args:
            - |
              echo "Init: comprobando si existe index.html en el PVC...";
               if [ ! -f /mnt/html/index.html ]; then 
                 echo "No hay index.html -> copiando contenido inicial...";
                cp -a /usr/share/nginx/html/. /mnt/html/;
              else
                echo "ya existe index.html -> no copio nada.";
              fi
          volumeMounts:
            - name: web-content
              mountPath: /mnt/html

      containers:
        - name: web-cp2
          image: acrcp2af2026.azurecr.io/web-cp2:1.0
          ports:
            - containerPort: 80
          volumeMounts:
            - name: web-content
              mountPath: /usr/share/nginx/html
